// -----------------------------------------------------------------------------
// В этом файле находятся все основные SASS - Переменные
// -----------------------------------------------------------------------------

// Основные цвета
$palette-primary: #ffffff !default;

// Цвета шрифтов
$text-primary: #000000;
$text-secondary: #969696;

$text-invert: #ffffff;
$text-info: #d2d2d2;
$text-important: #ff8315;
$text-important-lighter: #ffc81e;

// Цвета компонентов
$component-button: #ffc827;
$component-button-gradient: linear-gradient(
  180deg,
  rgba(255, 227, 69, 1) 0%,
  rgba(255, 194, 34, 1) 100%
);
$component-button-shadow: #f9a123;

// Размеры шрифтов
$font-1: 34px;
$font-2: 24px;
$font-3: 18px;
$font-4: 14px;
$font-5: 12px;

// Максимальная ширина контейнера
$container-max-width: 1240px !default;

// Z-index для элементов страницы
$first-layer: 1;
$second-layer: 2;
$third-layer: 3;
$higher-layer: 10001;

// Цвета в калькуляторе
$calculator-white: #ffffff;
$calculator-brown: #a06e2c;

// Точки для медиа-запросов
$laptop: max-width 1024px;

