// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  display: block;

  min-width: 185px;
  height: 50px;

  color: #ffffff;
  font-weight: $weight-medium;
  background-color: transparent;

  border: none;
  border-radius: 5px;
  outline: none;

  font-size: $font-size-8;

  cursor: pointer;
  transition: all 0.3s ease;

  &-primary {
    background-color: $button-primary;

    &:hover {
    }
  }

  &-secondary {
    border: 1px solid #ffde4e;

    &:hover {
      color: #ffde4e;
    }
  }

  &-form {
    width: 30%;
  }

  &-temp {
    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  &-invisible {
    display: none;

    @include breakpoint($breakpoint-mobile-large) {
      display: block;

      margin-top: 15px;
    }
  }

  &-mobile {
    @include breakpoint($tablet) {
      display: block;
    }

    display: none;

    width: 36px;
    height: 38px;

    border: none;
    outline: none;

    background: transparent;
    color: #000000;
    font-size: 32px;

    .bar {
      width: 25px;
      height: 3px;
      background-color: #000000;
      margin: 4px 0;
    }
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
