.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include breakpoint($breakpoint-mobile-large) {
    align-items: stretch;
  }

  &__title {
    font-size: $font-size-5;
    font-weight: $weight-medium;
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 25px;
  }

  &__policy {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__input {
    margin-bottom: 15px;
  }

  &-callback {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @include breakpoint($breakpoint-tablet) {
        flex-direction: column;
      }
    }
  }

  &__error {
    display: none;
    color: $text-pink;

    margin-top: 20px;
    margin-bottom: -20px;

    text-align: center;
  }

  &-order {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
    max-width: 1000px;

    margin: auto;
    padding: 60px;

    @include breakpoint($breakpoint-mobile-large) {
      padding: 30px;
    }

    .secondary-heading {
      text-align: left;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 50px;
    }

    .input-text {
      width: 49%;

      @include breakpoint($breakpoint-mobile-large) {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .additional-info {
      margin-top: 35px;
    }

    .order-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      margin-top: 50px;

      @include breakpoint($breakpoint-mobile-large) {
        flex-direction: column;
      }
    }

    .calculator-order-text {
      margin-right: 35px;

      @include breakpoint($breakpoint-mobile-large) {
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }

    .calculator-price {
      @include breakpoint($breakpoint-mobile-large) {
        @include first-child {
          margin-left: 10px;
        }

        @include last-child {
          margin-left: 5px;
        }
      }
    }
  }

  &-contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 870px;
    margin: 0 auto;
    padding: 90px;

    border-radius: 10px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);

    @include breakpoint($breakpoint-mobile-large) {
      padding: 20px;
    }

    .primary-heading {
      margin-bottom: 25px;
    }
  }

  &-modal {
    flex-direction: column;
    justify-content: center;
  }
}

.form-modal {
  &__title {
  }
}
