.input {
  box-sizing: border-box;

  min-height: 70px;

  border: none;
  border-radius: 12px;
  outline: none;

  padding: 0 20px;

  transition: all 0.3s ease;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &-text {
    width: 100%;
  }

  &-info {
    display: block;
    margin-left: 20px;
    margin-bottom: 4px;
  }

  &-label {
    @include breakpoint($tablet) {
      width: 100%;
    }
  }

  &-color-info {
    display: block;
    margin-bottom: 10px;
  }

  &-shadow {
    background: #f7f7f7;
    box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.04);
  }

  &-error {
    background-color: #ffeded;
  }
}

.form-callback {
  .input-text {
    width: 30%;
    margin-right: 30px;

    @include breakpoint($tablet) {
      width: 100%;
    }
  }
}

.form-contact {
  .input {
    &-text {
      margin-bottom: 30px;
      padding: 20px;

      @include breakpoint($phone-l) {
        margin-bottom: 15px;
      }
    }
  }
}

.form-modal {
  .input {
    &-text {
      margin-bottom: 10px;
    }
  }
}

.checkbox {
  span {
    margin-left: 10px;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
}

.checkbox label::before,
.checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
}

.checkbox label::before {
  top: 3px;
  left: -20px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
}

.checkbox label::after {
  content: url("../img/icons/check.svg");
  top: 3px;
  left: -19px;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: url("../img/icons/check.svg");

  .checkbox input[type="checkbox"] + label::after {
    content: none;
  }
  .checkbox input[type="checkbox"]:checked + label::after {
    content: url("../img/icons/check.svg");
  }
}

.checkbox {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 20px 0;

  input {
    margin-right: 10px;
  }
}

.radio {
  display: none;

  &-box {
    &-color {
      max-width: 70px;
      margin-right: 15px;

      @include breakpoint($tablet) {
        margin-right: 10px;
        max-width: 65px;
      }
    }

    &-fasteners {
      max-width: 155px;
      margin-right: 30px;

      @include breakpoint($tablet) {
        margin-right: 10px;
      }
    }

    &-compressor,
    &-adjustment {
      width: 49%;
    }

    &-lock {
      width: 49%;

      @include breakpoint($tablet) {
        margin-bottom: 15px;
      }
    }
  }

  &-fasteners {
    &::after {
      content: "";
      display: block;
      cursor: pointer;
      background-size: cover;
      width: 105px;
      height: 105px;
      border-radius: 10px;
      margin-top: 3px;
      border: 1px solid #dcdcdc;
      transition: all 0.3s ease;

      @include breakpoint($tablet) {
        width: 105px;
        height: 105px;
      }

      @include breakpoint($phone-l) {
        width: 78px;
        height: 78px;
      }
    }
  }

  &-compressor {
    &::after {
      content: "";
      display: block;
      cursor: pointer;
      background-size: cover;
      width: 100%;
      height: 255px;
      border-radius: 10px;
      margin-top: 3px;
      border: 1px solid #dcdcdc;
      transition: all 0.3s ease;

      @include breakpoint($tablet) {
        height: 200px;
      }
    }
  }

  &-adjustment {
    &::after {
      content: "";
      display: block;
      cursor: pointer;
      background-size: cover;
      width: 100%;
      height: 255px;
      border-radius: 10px;
      margin-top: 3px;
      border: 1px solid #dcdcdc;
      transition: all 0.3s ease;

      @include breakpoint($tablet) {
        height: 200px;
      }
    }
  }

  &-limiter {
    &::after {
      content: "";
      display: block;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 155px;
      height: 155px;
      border-radius: 10px;
      margin-top: 3px;
      margin-right: 15px;
      border: 1px solid #dcdcdc;
      transition: all 0.3s ease;

      @include breakpoint($tablet) {
        height: 200px;
      }
    }
  }

  &-lock {
    &::after {
      content: "";
      display: block;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 133px;
      height: 133px;
      border-radius: 10px;
      margin-top: 3px;
      margin-right: 15px;
      border: 1px solid #dcdcdc;
      transition: all 0.3s ease;

      @include breakpoint($phone-l) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &-color-icon {
    position: relative;
    margin-bottom: 20px;

    &:hover {
      &::after {
        transform: scale(0.9);
      }
    }

    &::after {
      content: "";
      display: block;
      cursor: pointer;
      width: 65px;
      height: 65px;
      border-radius: 10px;
      margin-top: 3px;
      border: 1px solid #dcdcdc;
      transition: all 0.3s ease;

      @include breakpoint($tablet) {
        width: 55px;
        height: 55px;
      }
    }
  }
}

input[type="radio"]:checked + label::after {
  border: 1px solid $text-important-lighter;
  transform: scale(0.9);
}

input[name="compressor"]:checked + label::after {
  border: 1px solid $text-important-lighter;
  transform: scale(1) translateY(5px);
}

input[name="adjustment"]:checked + label::after {
  border: 1px solid $text-important-lighter;
  transform: scale(1) translateY(5px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label[for="color-white"] {
  &::after {
    background-color: $calculator-white;
  }
}

label[for="color-brown"] {
  &::after {
    background-color: $calculator-brown;
  }
}

label[for="color-red"] {
  &::after {
    background-color: $calculator-red;
  }
}

label[for="color-yellow"] {
  &::after {
    background-color: $calculator-yellow;
  }
}

label[for="color-black"] {
  &::after {
    background-color: $calculator-black;
  }
}

label[for="color-green"] {
  &::after {
    background-color: $calculator-green;
  }
}

label[for="color-blue"] {
  &::after {
    background-color: $calculator-blue;
  }
}

label[for="color-gray"] {
  &::after {
    background-color: $calculator-gray;
  }
}

label[for="color-purple"] {
  &::after {
    background-color: $calculator-purple;
  }
}

label[for="fasteners-plastic"] {
  &::after {
    background-size: cover;
    background-image: url("../img/plastic-fasteners.jpg");
  }
}

label[for="fasteners-metal"] {
  &::after {
    background-size: cover;
    background-image: url("../img/metal-fasteners.jpg");
  }
}

label[for="fasteners-plunger"] {
  &::after {
    background-size: cover;
    background-image: url("../img/plunger-fasteners.jpg");
  }
}

label[for="handle-plastic"] {
  &::after {
    background-size: cover;
    background-image: url("../img/handle-plastic.jpg");
  }
}

label[for="handle-metal"] {
  &::after {
    background-size: cover;
    background-image: url("../img/handle-metal.jpg");
  }
}

label[for="corner-plastic"] {
  &::after {
    background-size: cover;
    background-image: url("../img/corner-plastic.jpg");
  }
}

label[for="corner-metal"] {
  &::after {
    background-size: cover;
    background-image: url("../img/corner-metal.jpg");
  }
}

label[for="mount-screws"] {
  &::after {
    background-size: cover;
    background-image: url("../img/mount-screws.jpg");
  }
}

label[for="mount-tape"] {
  &::after {
    background-size: cover;
    background-image: url("../img/mount-tape.jpg");
  }
}

label[for="mount-cover"] {
  &::after {
    background-size: cover;
    background-image: url("../img/mount-cover.jpg");
  }
}

label[for="compressor-window"] {
  &::after {
    background-size: cover;
    background-image: url("../img/compressor-window.jpg");
  }
}

label[for="compressor-door"] {
  &::after {
    background-size: cover;
    background-image: url("../img/compressor-door.jpg");
  }
}

label[for="adjustment-window"] {
  &::after {
    background-size: cover;
    background-image: url("../img/adjustment-window.jpg");
  }
}

label[for="adjustment-door"] {
  &::after {
    background-size: cover;
    background-image: url("../img/adjustment-door.jpg");
  }
}

label[for="limiter-plastic"] {
  &::after {
    background-size: cover;
    background-image: url("../img/limiter-plastic.jpg");
  }
}

label[for="limiter-metal"] {
  &::after {
    background-size: cover;
    background-image: url("../img/limiter-metal.jpg");
  }
}

label[for="lock-handle"] {
  &::after {
    background-size: cover;
    background-image: url("../img/lock-handle.jpg");
  }
}

label[for="lock-bottom"] {
  &::after {
    background-size: cover;
    background-image: url("../img/lock-bottom.jpg");
  }
}

label[for="lock-cable"] {
  &::after {
    background-size: cover;
    background-image: url("../img/lock-cable.jpg");
  }
}
