.swiper-button-next:after,
.swiper-button-prev:after {
  color: $text-gray;
}

.swiper {
  &-controls {
    position: relative;

    display: flex;
    align-items: center;

    height: 45px;
  }

  &-pagination {
    position: relative;
    z-index: $z-index-main;

    margin-left: auto;
    margin-right: auto;

    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    &-bullet {
      margin: 0 5px;
    }

    &-bullet-active {
      background: $text-yellow;
    }
  }
}
