#callback {
  background-color: #f9fcff;
  padding: 80px;

  @include breakpoint($breakpoint-mobile-large) {
    padding: 40px 5px;
  }

  .input {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .button {
    @include breakpoint($breakpoint-tablet) {
      margin-left: auto;
    }

    @include breakpoint($breakpoint-mobile-large) {
      margin-left: 0;
      width: 100%;
    }
  }
}
