.catalog-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}

.catalog-card {
  position: relative;

  width: 23.5%;
  height: 285px;

  margin-bottom: 25px;

  overflow: hidden;
  border-radius: 10px;

  @include first-child() {
    width: 49%;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }
  @include first(2) {
    width: 49%;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }


  @include breakpoint($breakpoint-laptop) {
    height: 205px;
  }

  @include breakpoint($breakpoint-tablet) {
    width: 49%;
  }

  @include breakpoint($breakpoint-mobile-large) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.catalog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-description {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 10px 30px 10px 30px;
  background: rgba($color: #000000, $alpha: 0.5);
}

.catalog-heading {
  color: #ffffff;
  font-weight: $weight-medium;
}

.catalog-text {
  color: #ffffff;
}
