.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  &__card {
    @include breakpoint($breakpoint-laptop) {
      height: 205px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 49%;
    }

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
      margin-bottom: 20px;
    }

    width: 100%;

    margin-bottom: 25px;

    &-small {
      width: 46%;
    }
  }
}

.catalog-card {
  position: relative;

  transition: all 0.15s ease;

  &:hover {
    opacity: 0.8;

    .catalog-card__image {
      transform: scale(1.025);
    }
  }

  &__picture {
    overflow: hidden;

    border-radius: 5px;
  }

  &__image {
    height: 320px;

    object-fit: cover;
    border-radius: 5px;

    transition: transform 0.15s ease;

    &-small {
      height: 200px;
    }
  }

  &__description {
    width: 100%;

    margin-top: 10px;
  }

  &__heading {
    color: $text-black;
    font-weight: $weight-medium;
  }

  &__text {
    color: $text-black;

    margin-top: 10px;
  }
}
