#contact {
  padding-bottom: 90px;

  .wrap {
    flex-wrap: wrap;

    @include breakpoint($breakpoint-mobile-large) {
      justify-content: center;
    }
  }

  .input {
    width: 100%;
  }

  .button {
    width: 48%;
    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }

  .input-wrapper {
    .input {
      width: 48%;

      @include breakpoint($breakpoint-mobile-large) {
        width: 100%;
      }
    }
  }
}
