#feedback {
  .button {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .swiper-controls {
    margin-top: 40px;
  }
}

.feedback {
  &-card {
    display: flex;
    align-items: center;
    height: 230px;
    border-radius: 10px;

    @include breakpoint($phone-l) {
      flex-direction: column;
      height: auto;
      padding: 20px 0;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90%;
    padding: 0 25px;
  }

  &-info {
    display: flex;
    align-items: center;

    time {
      margin-left: auto;
    }
  }
}

.avatar {
  border-radius: 10px;

  @include breakpoint($phone-l) {
    margin-bottom: 15px;
  }
}
