#feedback {
  .button {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-controls {
    width: 50%;
    margin: 50px auto;
  }
}

.feedback {
  display: flex;
  align-items: flex-start;

  padding: 15px;

  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.03);

  &__photo {
    width: 175px;
    height: 175px;
  }

  &__text {
    padding: 0 25px;
  }

  &__description {
    height: 115px;
  }

  &__info {
    display: flex;
    align-items: center;

    margin-top: auto;
  }

  &__name {
  }

  &__time {
    margin-left: auto;
  }
}
