#popular-kits {
  .section-title {
    margin-bottom: 30px;
  }

  .primary-heading {
    text-align: left;
  }
}

.kits {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.kit {
  @include breakpoint($breakpoint-mobile-large) {
    width: 100%;
    margin-bottom: 25px;
  }

  width: 32%;

  text-align: center;

  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  button {
    margin-top: auto;
  }
}

.kit-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.kit-title {
  margin-bottom: 10px;
  font-weight: $weight-medium;
}

.kit-subtitle {
  display: block;
  margin-bottom: 45px;
}

.kit-wrapper {
  @include breakpoint($breakpoint-laptop) {
    padding: 25px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px;
}

.kit-items {
  text-align: left;
}

.kit-item {
  &::before {
    content: "+";
    margin-right: 5px;
    font-weight: 500;
    color: $text-orange;
  }
}
