// -----------------------------------------------------------------------------
// В этом файле находятся все базовые стили
// -----------------------------------------------------------------------------

/**
 * Настройка бокс-модели для страницы
 */
html {
  box-sizing: border-box;
}

/**
   * Наследуем всем элементам свойство border-box от родителя (html)
   * Так как селектор * имеет 0 приоритет, он не переопределяет стили html
   * Это нужно, чтобы в будушем была возможность без проблем переопредилить стили
   */
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

section {
  padding-top: 80px;
}

pre {
  white-space: pre-wrap;
}

mark {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}