// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($breakpoint-laptop) {
    padding: 0 5px;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @include breakpoint($breakpoint-laptop) {
    flex-direction: column;
  }

  &--reverse {
    @include breakpoint($breakpoint-laptop) {
      flex-direction: column-reverse;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  width: calc(100% / 2 - 25px);

  @include breakpoint($breakpoint-mobile-large) {
    width: 100%;
    margin-bottom: 15px;
  }

  &--center {
    margin: 0 auto;
  }
}

.paragraph {
  margin-bottom: 30px;

  &--hidden {
    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }
}

.stretched-link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.policy {
  font-size: $font-size-8;

  &__link {
    color: $text-orange;

    &:hover {
      color: lighten($text-orange, $amount: 20);
    }
  }
}

.picture-block {
  display: flex;
  flex: 1;

  &__image {
    flex: 1;

    object-fit: cover;
    overflow: hidden;

    border-radius: 5px;
  }
}

.company {
  margin-right: 40px;

  @include breakpoint($breakpoint-mobile-large) {
    margin: 0 auto 15px auto;
  }

  &__info {

  }
}

.wrapper,
.wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  align-items: flex-start;
}
.wrap {
  align-items: center;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;

  @include breakpoint($breakpoint-mobile-large) {
    flex-direction: column;
  }
}

.product-heading {
  padding-top: 140px;
  padding-bottom: 15px;
}

.anchor {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 80px;
}

.social {
  display: flex;
  align-items: center;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 25px;
  }

  &-link {
    margin-left: 14px;
  }

  &-icon {
    width: 30px;
    height: 30px;
  }
}
.product-page-image,
.page-head-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.page-head-image {
  min-height: 520px;
  padding-top: 65px;

  @include breakpoint($breakpoint-mobile-large) {
    min-height: 300px;
  }
}

.product-page-image {
  min-height: 300px;
  border-radius: 5px;
}
