// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  display: block;

  min-width: 180px;
  height: 50px;

  border: none;
  border-radius: 12px;
  outline: none;

  background-color: $component-button;
  background-image: $component-button-gradient;
  box-shadow: 0 5px 0 0 $component-button-shadow;

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 5px 0 0 $component-button-shadow, 0 5px 15px 0 #ffde4e;
  }

  &:focus {
    transform: translateY(3px);
  }

  &-large {
    min-width: 240px;
    height: 70px;
  }

  &-form {
    width: 30%;
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
  }
}
