.input {
  min-height: 70px;

  border: none;
  border-radius: 12px;
  outline: none;

  padding: 20px;

  box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.04);

  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .input:first-child {
      margin-right: 30px;
    }
  }
}

.form-callback {
  .input-text {
    width: 30%;
    margin-right: 30px;
  }
}

.form-contact {
  .input {
    background: #f7f7f7;
    box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.04);

    &-text {
      margin-bottom: 30px;
    }
  }
}
