.slider {
  position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: $text-info;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: $first-layer;
  top: 45%;
  outline: none;
}

.swiper-slide {
  margin-bottom: 80px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
}

#popular-kits {
  .swiper-button-prev {
    left: -15px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }
  }
}

// .swiper-button-prev {
//   left: 21%;
// }
// .swiper-button-next {
//   right: 21%;
// }
