.slider {
  position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: $text-info;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: $first-layer;
  outline: none;
  top: 50%;
}
.swiper-button-prev {
  left: 20%;
}
.swiper-button-next {
  right: 20%;
}

.swiper-slide {
  margin-bottom: 60px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
}

.swiper {
  &-controls {
    display: flex;
    align-items: center;
    position: relative;
    height: 45px;
  }

  &-pagination {
    z-index: $first-layer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint($tablet) {
      display: block;
    }

    &-bullet-active {
      background: $text-important-lighter;
    }

    span {
      margin: 0 5px;
    }
  }
}

#popular-kits {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }
  }
  &-pagination {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }
  }
}