table {
  text-align: left;
  border-collapse: collapse;
  @include breakpoint($phone-l) {
    margin-right: 5px;
  }
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

th,
td {
  padding: 17px;


}

td {
  width: 100%;
}

.cell-important {
  background-color: #f1f1f1;
}