
// Цвета шрифтов
$text-primary: #000000;
$text-secondary: #969696;

$text-invert: #ffffff;
$text-info: #d2d2d2;
$text-important: #ff8315;
$text-important-lighter: #ffc81e;

$laptop: max-width 1024px;
$tablet: max-width 768px;
$phone-l: max-width 425px;
$phone-m: max-width 375px;

// Цвета в калькуляторе
$calculator-white: #ffffff;
$calculator-brown: #a06e2c;
$calculator-red: #ff0000;
$calculator-yellow: #fffb00;
$calculator-black: #000000;
$calculator-green: #2cc518;
$calculator-blue: #2d3af0;
$calculator-gray: #686868;
$calculator-purple: #841ada;

$palette-primary: #ffffff !default;

// Z-index для элементов страницы
$first-layer: 1;
$second-layer: 2;
$third-layer: 3;
$higher-layer: 10001;

// Размеры шрифтов
$font-1: 34px;
$font-2: 24px;
$font-3: 18px;
$font-4: 14px;
$font-5: 12px;

// -----------------------------------------------------------------------------
// В этом файле находятся все основные SASS - Переменные
// -----------------------------------------------------------------------------

/* ----------------- ОБЩЕЕ */
// Максимальная ширина контейнера
$container-max-width: 1180px;

/* ----------------- ЦВЕТА */
// Основной цвет
// Цветовая палитра блоков
$palette-white: #ffffff;

// Цветовая палитра кнопок
$button-primary: #eccd1d;

// Цветовая палитра инпутов
$input-text: #a0a0a0;

// Цветовая палитра текста
$text-black: #0a0a19;

// Значения для послойного наложения
$z-index-main: 1;
$z-index-second: 2;
$z-index-header: 50;
$z-index-overlay: 100;
$z-index-menu: 110;
$z-index-modal: 120;

/* ----------------- АДАПТИВ */
// Брейкпоинты разных экранов для адаптива
$breakpoint-laptop: max-width 1024px;
$breakpoint-tablet: max-width 768px;
$breakpoint-mobile-large: max-width 425px;
$breakpoint-mobile-medium: max-width 375px;
$breakpoint-mobile-small: max-width 320px;

/* ----------------- ТИПОГРАФИКА */
// Толщина шрифта
$weight-lightest: 100;
$weight-light: 300;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;
$weight-extrabold: 900;

// Размеры шрифта
$font-size-0: 80px;
$font-size-1: 60px;
$font-size-2: 38px;
$font-size-3: 30px;
$font-size-4: 24px;
$font-size-5: 21px;
$font-size-6: 18px;
$font-size-7: 16px;
$font-size-8: 14px;
$font-size-9: 12px;

// Межстрочные расстояния
$line-height-0: 28px;
$line-height-1: 38px;