#callback {
  background-color: #f9fcff;
  padding: 80px;

  @include breakpoint($phone-l) {
    padding: 80px 20px;
  }

  .input {
    @include breakpoint($tablet) {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .button {
    @include breakpoint($tablet) {
      margin-left: auto;
    }

    @include breakpoint($phone-l) {
      margin-left: 0;
      width: 100%;
    }
  }
}
