.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);

  @include breakpoint($phone-l) {
    padding: 5px;
  }

  .input {
    &-text {
      width: unset;
    }

    @include breakpoint($tablet) {
      margin-bottom: 22px;
      width: 90%;
    }
  }

  &-wrapper {
    width: 100%;

    @include breakpoint($tablet) {
      justify-content: space-between;
    }

    @include breakpoint($phone-l) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-title {
    margin-bottom: 10px;
  }

  &-description {
    margin-top: auto;
  }

  &-column {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 90%;
    margin-top: 30px;

    @include breakpoint($tablet) {
      width: 100%;
      padding: 0;
    }

    @include breakpoint($phone-l) {
      width: 100%;
    }
  }

  &-block {
    margin-bottom: 45px;
  }

  &-fasteners {
    display: flex;

    @include breakpoint($tablet) {
      flex-wrap: wrap;
    }
  }

  &-button-next,
  &-button-prev {
    position: absolute;
    bottom: -50px;
  }

  &-button-next {
    right: 0;
  }

  &-button-prev {
    left: 0;
  }

  &-color {
    display: flex;
    flex-wrap: wrap;

    .radio-color-icon {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
  }

  &-price {
    margin-bottom: 30px;
  }

  &-order {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
    margin-bottom: 70px;


    @include breakpoint($tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
