.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &-title {
    margin-bottom: 10px;
  }

  &-column {
    width: 50%;
    padding: 40px;
  }

  &-block {
    margin-bottom: 45px;
  }

  &-fasteners {
    display: flex;
  }

  &-color {
    display: flex;

    .radio-color-icon {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
