.feedback {

  &-card {
    display: flex;
    align-items: center;
    height: 270px;
    border-radius: 10px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90%;
    padding: 0 25px;
  }

  &-info {
    display: flex;
    align-items: center;

    margin-top: 40px;

    time {
      margin-left: auto;
    }
  }
}
