// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  .wrapper {
    align-items: center;
  }
  
  padding: 40px 0;
  background: #f9fcff;

  .callback {
    margin-right: 0;
  }

  .wrapper:last-child {
    justify-content: flex-start;
    margin-top: 45px;
  }

  .politics {
    margin-left: 40px;
  }

  .social {
    margin-left: auto;

    @include breakpoint($tablet) {
      span {
        display: none;
      }
    }
  }
}
