.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &-item {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;

    @include after-first(1) {
      width: 24%;
    }
  }
}

