// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------
#header {
  position: fixed;
  z-index: $second-layer;
  background: #ffffff;

  width: 100%;
  padding: 15px 0 20px 0;
  box-shadow: 0 8px 90px 0 rgba(0, 0, 0, 0.06);

  .callback {
    @include breakpoint($phone-l) {
      display: none;
    }
  }

  .button {
    @include breakpoint($phone-l) {
      display: none;
    }
  }
}

.menu {
  margin-left: 60px;

  @include breakpoint($laptop) {
    margin-left: 30px;
  }

  @include breakpoint($tablet) {
    display: none;
  }
}

.nav {
  display: flex;

  &-item {
    margin: 0 25px;

    @include breakpoint($laptop) {
      margin: 0 10px;
    }
  }
}

.callback {
  margin-left: auto;
  margin-right: 30px;

  @include breakpoint($tablet) {
    margin: 0;
  }

  .worktime {
    display: block;
    text-align: right;
  }
}
