#other {
  margin-bottom: 0;
}

.block {
  &-nets,
  &-curtains {
    width: 49%;
    padding-bottom: 100px;
  }

  &-nets {
    .product-item {
      @include breakpoint($phone-l) {
        margin-left: auto;
        margin-right: auto;
      }

      @include even {
        margin-right: 20px;

        @include breakpoint($phone-l) {
          margin-right: auto;
        }
      }
    }
  }

  &-curtains {
    .product-item {
      @include breakpoint($phone-l) {
        margin-left: auto;
        margin-right: auto;
      }

      @include odd {
        margin-left: 20px;

        @include breakpoint($phone-l) {
          margin-left: auto;
        }
      }
    }
  }

  &-other {
    padding-bottom: 70px;

    .swiper-controls {
      margin-top: -70px;
    }
  }

  &-list,
  &-titles {
    display: flex;
    justify-content: space-around;
  }

  &-title {
    text-align: center;
    margin-bottom: 30px;

    @include breakpoint($phone-m) {
      display: none;
    }
  }
}

.separtor-line {
  align-self: stretch;
  width: 3px;
  margin: 0 10px;
  margin-bottom: 75px;
  background-color: $text-info;

  @include breakpoint($phone-m) {
    display: none;
  }
}

.product {
  &-list-other,
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-other {

      @include breakpoint($phone-l) {
        justify-content: space-around;
      }
    }
  }

  &-item {
    width: 100%;
    max-width: 275px;
    height: 360px;
    margin-bottom: 50px;

    @include breakpoint($laptop) {
      width: 200px;
      height: 300px;
    }

    @include breakpoint($tablet) {
      width: 150px;
      height: 250px;
    }

    @include breakpoint($phone-m) {
      width: 135px;
    }

    &-other {
      width: 24%;
      max-width: unset;

      @include breakpoint($phone-l) {
        width: 45%;
        @include between(1, 2) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &-image,
  &-image-other {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
  }

  &-image {
    height: 265px;

    @include breakpoint($laptop) {
      width: calc(100% - 5%);
      height: calc(100% - 40%);
    }
  }

  &-image-other {
    width: 100%;
    height: calc(100% - 40%);
  }
}
