.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.5%;
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgba(97, 51, 7, .2);
  border-radius: 10px;

  @include between(1, 4) {
    margin-bottom: 25px;
  }
}

.partner-logo {
  max-width: 100%;
}

