#popular-kits {
  .swiper-controls {
    margin-bottom: 50px;
  }
}

.kits {
  display: flex;
  justify-content: space-between;
}

.kit {
  width: 32%;
  min-height: 810px;

  text-align: center;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.kit-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.kit-title {
  margin-bottom: 10px;
}

.kit-subtitle {
  display: block;
  margin-bottom: 45px;
}

.kit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px;
  padding: 45px;

  @include breakpoint($laptop) {
    padding: 25px;
  }

  @include breakpoint($tablet) {
    min-height: 450px;
  }
}

.kit-items {
  text-align: left;
}

.kit-item {

  &::before {
    content: "+";
    margin-right: 5px;
    font-weight: 500;
    color: $text-important;
  }
}
