#promo {
  padding-top: 65px;

  .content {
    padding-top: 35px;
    max-width: 505px;
  }
}

.advantages {
  margin-top: 64px;

  &-item {
    margin-bottom: 28px;

    &::before {
      content: url("/src/img/icons/check.svg");
      margin-right: 7px;
    }
  }
}
