// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  .wrapper {
    align-items: center;

    @include breakpoint($breakpoint-mobile-large) {
      justify-content: center;
      text-align: center;
    }
  }

  padding: 40px 0;
  background: #f9fcff;

  .callback {
    margin-right: 0;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }
  .wrapper:last-child {
    justify-content: flex-start;
    margin-top: 45px;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .politics {
    margin-left: 40px;

    @include breakpoint($breakpoint-mobile-medium) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .social {
    margin-left: auto;

    @include breakpoint($breakpoint-tablet) {
      span {
        display: none;
      }
    }

    @include breakpoint($breakpoint-mobile-large) {
      margin-left: 0;
    }
  }
}
