// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------
#header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;
  background: #ffffff;

  width: 100%;
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
  }

  .callback {
    @include breakpoint($phone-l) {
      display: none;
    }
  }

  .button {
    @include breakpoint($tablet) {
      display: none;
    }
  }
}

.logo {
  @include breakpoint($laptop) {
    max-width: 160px;
  }

  width: 100%;
  max-width: 220px;
  cursor: pointer;
}

.callback {
  @include breakpoint($tablet) {
    margin-left: auto;
  }

  display: flex;
  align-items: center;

  &__phone {
    @include breakpoint($laptop) {
      font-size: 20px;
    }

    font-size: 24px;
    color: $text-primary;
  }

  &__time {
    margin: 0 15px;
  }
}
