.hamburger {
  @include breakpoint($breakpoint-mobile-large) {
    display: block;
  }

  display: none;
  outline: none;

  margin-left: auto;
}

.mobile-menu {
  position: fixed;
  z-index: $z-index-second;
  top: 80px;
  width: 100%;

  padding: 30px 15px;

  background-color: #fdfdfd;

  visibility: hidden;

  &--slide {
    transform: translateY(-100%);
    transition: all 0.5s ease;
  }

  &--open {
    visibility: visible;
    transform: translateY(0);
  }

  &__item {
    margin-bottom: 35px;
  }

  &__link {
    color: #000000;
  }
}

.callback-mobile {
  display: inline-flex;
  flex-wrap: wrap;

  margin-top: 25px;

  &__time {
    font-size: $font-size-8;
  }

  &__button {
    margin-top: 20px;
    width: 100%;
  }
}
