#mobile-menu-button {
  display: none;
}

.mobile-menu {
  &-overlay {
    position: fixed;
    z-index: $third-layer;
    top: 0;

    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

    transition: all 0.5s ease;

    &-visible {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &-wrapper {
    position: fixed;
    z-index: $third-layer;

    top: 0;
    left: 100%;

    width: 40%;
    height: 100%;

    padding-top: 50px;
    padding-left: 25px;
    margin-left: auto;

    background-color: #ffffff;
    transition: all 0.5s ease;

    @include breakpoint($phone-l) {
      width: 80%;
    }
  }

  &-nav {
    margin-bottom: 55px;
  }

  &-item {
    margin-bottom: 30px;
  }

  &-visible {
    left: 60%;
    @include breakpoint($phone-l) {
      left: 20%;
    }
  }

  .callback {
    .worktime {
      text-align: left;
    }
  }

  .button {
    margin-top: 30px;
  }
}
