.nav {
  &__navbar {
    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }

    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 15px;
  }

  &__link {
    color: $text-black;

    &--footer {
      color: #a0a0a0;
    }
  }
}
