.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.5%;
  height: 150px;
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgba(97, 51, 7, .2);
  border-radius: 10px;

  @include between(1, 4) {
    margin-bottom: 25px;
  }

  @include breakpoint($phone-l) {
    width: 48%;
    height: 100px;
  }

  @include breakpoint($phone-m) {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

.partner-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

