.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);

  @include breakpoint($breakpoint-mobile-large) {
    padding: 15px 0 0 0;
  }

  .button {
    @include breakpoint($breakpoint-mobile-large) {
      width: 95%;
    }
  }

  &-title {
    margin-bottom: 15px;
  }

  &-inputs {
    label {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &-parameter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
    }
  }

  &-parameter-wrapper {
    width: 100%;
  }

  &-wrapper {
    width: 100%;

    @include breakpoint($breakpoint-tablet) {
      justify-content: space-between;
    }

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px 15px 0 15px;
    }
  }

  &-description {
    margin-top: auto;

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 20px;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 90%;
    margin-top: 30px;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      padding: 0;
    }

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }

  &-block {
    margin-bottom: 20px;

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 15px;
    }
  }

  &-fasteners {
    display: flex;

    @include breakpoint($breakpoint-tablet) {
      flex-wrap: wrap;
    }
  }

  &-compressor-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-limiter-type {
    display: flex;
    justify-content: space-between;
    width: 49%;
  }

  &-color-type {
    display: flex;
    width: 49%;
  }

  &-lock-type {
    display: flex;

    @include breakpoint($breakpoint-tablet) {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-color {
    display: flex;
    flex-wrap: wrap;

    .radio-color-icon {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
  }

  &-order {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: 30px;

    @include breakpoint($breakpoint-mobile-medium) {
      flex-direction: column;
    }

    .button {
      margin-left: auto;

      @include breakpoint($breakpoint-mobile-large) {
        width: unset;
      }

      @include breakpoint($breakpoint-mobile-medium) {
        width: 95%;
        margin-top: 15px;
      }
    }

    .calculator-title {
      margin-bottom: 0;
    }

    &-text {
      display: flex;
      align-items: flex-end;
    }
  }

  &-price {
    margin-left: 10px;
    font-size: $font-size-4;
  }
}
