// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  text-align: center;
}

.social {
  display: flex;
  align-items: center;

  &-link {
    width: 30px;
    height: 30px;

    margin-left: 14px;

    border: 1px solid #505050;
    border-radius: 50%;
  }
}
