// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: "Rubik", "Verdana", sans-serif;
}

small {
  font-size: $font-5;
}

.button,
span {
  font-size: $font-4;
}

.button-large,
li {
  font-size: $font-3;
}

h2 {
  font-size: $font-2;
}

h1 {
  font-size: $font-1;
}

p,
h1,
h2 {
  line-height: 45px;
}


.nav-link {
  color: $text-primary;
}

.callback {
  .phone {
    font-size: 24px;
    color: $text-primary;
  }

  .worktime {
    color: $text-info;
  }
}

.button {
  font-weight: 700;
  color: $text-button;
}
