// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: "Rubik", "Verdana", sans-serif;
}

small {
  font-size: $font-5;
}

label,
.company-info,
.politics,
.button,
span {
  font-size: $font-4;
}

.nav-link {
  color: $text-primary;
}

.calculator-heading,
.calculator-text,
.footer-nav-link,
time,
span {
  color: $text-secondary;
}

.calculator-text {
  font-size: 16px;
  line-height: 30px;
}

.button-large,
.feedback-info .name,
p,
h3,
li {
  font-size: $font-3;

  @include breakpoint($laptop) {
    font-size: $font-3 - 2;
  }
}

h2 {
  font-size: $font-2;
  font-weight: 500;

  @include breakpoint($laptop) {
    font-size: $font-2 - 6;
  }
}

.calculator-price,
.modal-title,
.block-title,
h1 {
  font-size: $font-1;

  @include breakpoint($laptop) {
    font-size: $font-1 - 10;
  }


  @include breakpoint($phone-m) {
    font-size: $font-1 - 12;
  }
}

.title {
  text-transform: uppercase;
}

p,
h1,
h2 {
  line-height: 45px;
}

h3,
.modal-text,
.product-description,
.kit-item,
.feedback-description {
  line-height: 30px;
}

h4 {
  line-height: 24px;
}

.calculator-title {
  font-size: 21px;
  font-weight: 500;
}

.product-title {
  font-weight: 400;
  font-size: $font-3;

  @include breakpoint($tablet) {
    font-size: $font-3 - 2;
  }
}

.mobile-menu-link,
.product-title a {
  color: $text-primary;
}

.mobile-menu-link {
  font-size: $font-3;
}

.block-title {
  font-weight: 400;
}

.button {
  font-weight: 700;
}

.button,
.item-wrapper {
  color: $text-invert;
}

.politics {
  color: $text-important;
}

.feedback-info .name {
  color: $text-important-lighter;
}

.catalog-text,
.catalog-heading {
  text-overflow: ellipsis;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden;
}

.callback {
  .phone {
    font-size: 24px;
    color: $text-primary;
  }

  .worktime {
    color: $text-info;
  }
}

.section-title {
  .primary-heading,
  .sub-heading {
    font-size: $font-1;

    @include breakpoint($phone-l) {
      font-size: $font-1 - 6;
    }
  }

  .primary-heading,
  .secondary-heading {
    text-align: center;

  }


  .sub-heading {
    font-weight: 400;
  }

  .secondary-heading {
    font-size: $font-2;
    color: $text-secondary;

    @include breakpoint($phone-l) {
      font-size: $font-2 - 6;
    }
  }
}
