// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: "Rubik", "Verdana", sans-serif;
}

small {
  font-size: $font-5;
}

.button,
span {
  font-size: $font-4;
}

.button-large,
h3,
li {
  font-size: $font-3;
}

h2 {
  font-size: $font-2;
  font-weight: 500;
}

h1 {
  font-size: $font-1;
}

p,
h1,
h2 {
  line-height: 45px;
}

p {
  font-size: $font-3;
}

.nav-link {
  color: $text-primary;
}

.button {
  font-weight: 700;
  color: $text-invert;
}

.product-description {
  color: $text-invert;
}

.product-text,
.product-heading {
  text-overflow: ellipsis;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden;
}

.callback {
  .phone {
    font-size: 24px;
    color: $text-primary;
  }

  .worktime {
    color: $text-info;
  }
}

.section-title {
  .primary-heading {
    font-size: $font-1;
  }

  .secondary-heading {
    font-size: $font-2;
    color: $text-secondary;
  }
}
